body {
    background-image: url(../assets/mars-perseverance-rover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

header {
    height: 80px;
    background: radial-gradient(circle at center, color(grey-1), color(grey-2));
}

.header-wrapper {
    height: 100%;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: color(white);
    h2 {
        text-transform: uppercase;
    }
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
        height: 55px;
    }
    span {
        font-family: font-family(roboto);
        font-weight: font-weight(light);
    }
}

main {
    min-height: 100vh;
    padding-bottom: 50px;
}

.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: calc(100% - 40px);
    ul {
        display: flex;
        justify-content: space-between;
        // width: calc(100% - 20px);
        max-width: 420px;
        width: 100%;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            width: 135px; 
            list-style: none;
            background: color(orange);
            position: relative;
            &:hover {
                background: color(button-hover);
                a {
                    color: color(orange);
                }
                }
            }
            a {
                text-decoration: none;
                color: color(white);
                text-transform: uppercase;
                &:hover {
                    color: color(orange);
                }
            }
    }
}

.birthday-card {
    width: 100%;
    max-width: 625px;
    background: color(white);
    color: color(black);
    padding-bottom: 20px;

    ul {
        list-style: none;
        li {
            font-size: font-size(bcard-sub);
        }
    }
    .nasa-img {
        height: 400px;
        margin: 20px auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .social-icon {
        color: color(black);
    }
}

.social-media-icons {
    display: flex;
    justify-content: flex-end;
    li {
        margin-left: 20px;
    }
}

.birthday-card-wrapper {
    width: calc(100% - 40px);
    margin: 0 auto;
    p, ul {
        margin-bottom: 10px;
    }
}

.birthday-form {
    display: flex;
    flex-direction: column;
    background-color: rgba($color: #000, $alpha: .25);
    padding: 20px;
    border-radius: 0 0 20px 20px;
    width: 100%;
    max-width: 420px;
    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid color(white);
        color: color(white);
        padding: 10px;
    }

    .form-button {
        color: color(white);
        font-weight: font-weight(bold);
        text-transform: uppercase;
        width: 220px;
        padding: 15px 10px 10px 10px;
        background: unset;
        background: color(orange);
        border: none;
        align-self: center;
        margin-top: 20px;
        margin-bottom: -67.25px;
        &:hover {
            color: color(orange);
            background: color(button-hover);
        }
    }
    ::placeholder {
        color: color(white);
        text-transform: uppercase;
        font-family: font-family(roboto-con);
        font-weight: font-weight(bold);
    }
}


footer {
    p {
        color: color(white);
        font-size: 2rem;
        font-family: font-family(roboto);
        font-weight: font-weight(regular);
        text-align: center;
        padding: 10px;
        a {
            color: color(white);
        }
    }
}

