// ==================================================
// $Variables
// ==================================================
// Supports 
// @media min-width
// @media max-width
// @media min-width and max-width

$viewport-increment: 0.1px; // customize to suite

// Desktop
$desktop: 1024px; // customize to suite
$pre-desktop: $desktop - $viewport-increment;

// Tablet
$tablet: 768px; // customize to suite
$pre-tablet: $tablet - $viewport-increment;

// Palm
$palm: 640px; // customize to suite
$post-palm: $palm + $viewport-increment;

// Constraints
$min: min-width;
$max: max-width;


// ==================================================
// $Media Query @Mixin
// ==================================================

@mixin mediaQuery($constraint, $viewport1, $viewport2: null) {

  @if $constraint == $min {

    @media screen and ($min: $viewport1) {
      @content;
    }

  } @else if $constraint == $max {

    @media screen and ($max: $viewport1) {
      @content;
    }

  } @else {

    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}


// ==================================================
// The Implementation!
// ==================================================
  @include mediaQuery($min, $palm) {
    body {
      font-size: font-size(body) * 0.75;
    }

    .navigation {
      ul {
        li {
            width: 200px;
        }
      }
    }

    .birthday-card {  
      ul {
          display: flex;
          li {
              margin-left: 20px;
              &:nth-child(1) {
                  margin-left: 0;
              }
          }
      }
    }

    .birthday-form {
      display: flex;
      max-width: 840px;
      flex-direction: column;
      background-color: rgba($color: #000, $alpha: .25);
      padding: 40px 80px 40px 80px;
    }
  }
 
  @include mediaQuery($min, $tablet) {
    body {
      font-size: font-size(body) * 0.85;
    }
  }
  
  @include mediaQuery($min, $desktop) {
    .main-wrapper {
      width: 75%;
      margin: 0 auto;
    } 

    body {
      font-size: font-size(body);
    }

    .logo-title {
      width: 50%;
      max-width: 460px;
    }
  }