
$colors: (
    grey-1: #A7A8AA,
    grey-2: #69737E,
    white: #FFF,
    orange: #C65A2C,
    button-hover: #C4ACA2,
    black: #000,
);

$font-families: (
    roboto: ('Roboto', sans-serif),
    roboto-con: ('Roboto Condensed', sans-serif)
);

$font-sizes: (
    html: 62.5%,
    body: 3rem,
    bcard-sub: 2rem
);

$font-weights: (
    light: 300,
    regular: 400,
    bold: 700
);
